<div class="card shadow sm mb-4">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title mb-0">Registro Nuevo Producto</h5>
  </div>
  <div class="card-body">
    <!-- Aquí irá el formulario -->
    
    <form method="POST"">
      <!-- Cross-Site Request Forgery Token -->
      {% csrf_token %}
      <div class="row g-3">
        <div class="col-xl-2">
          <input type="text" name="codigo" class="form-control" placeholder="Código (ej: ARR-001)" required>
        </div>
        <div class="col-xl-2">
          <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="col-xl-2">
          <input type="number" name="precio" class="form-control" placeholder="Precio" step="any" required>
        </div>
        <div class="col-xl-2">
          <input type="number" name="stock" class="form-control" placeholder="Stock" required>
        </div>
        <div class="col-xl-2">
          <select name="categoria_id" class="form-select" required>
            <option value="" disabled selected>Selecciona Categoría</option>
            {% for categoria in categorias %}
              <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% empty %}
              <option value="" disabled>No hay categorías disponibles</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xl-2">
          <button type="submit" class="btn btn-success w-100">Add Producto</button>
        </div>
      </div>
    </form>
  </div>
</div>